<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Create post</h1>

      <form id="create_post_form">
        <div class="form-group">
          <label for="title">Title <span class="require">*</span> </label>
          <input type="text" class="form-control" name="title" id="title" />
        </div>

        <div class="form-group">
          <label for="community"
            >Community <span class="require">*</span></label
          >
          <input type="text" class="form-control" name="community" id="community" />
        </div>

        <div class="form-group">
          <label for="text">Text <span class="require">*</span></label>
          <input type="text" class="form-control" name="text" id="text"></input>
        </div>

        <div class="form-group">
          <label for="username">Username <span class="require">*</span></label>
          <input type="text" class="form-control" name="username" id="username" />
        </div>

        <div class="form-group">
          <label for="url">Url</label>
          <input type="url" class="form-control" name="url" id="url"/>
        </div>

        <div class="form-group">
          <p><span class="require">*</span> - required fields</p>
        </div>

        <div class="form-group">
          <button type="submit" id=submit class="btn btn-primary">
            Create
          </button>
          <button class="btn btn-default">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  /*
    The following script handles sending the form data in JSON format.
    In writing this script, I made use of the Fetch API documentation at
    developer.mozilla.org, as well as a tutorial video from dcode on YouTube.
  */

  const create_post_form = document.getElementById('create_post_form');
  
  // This code is triggered when the submit button is clicked
  create_post_form.addEventListener('submit', function(e) {
    e.preventDefault(); // prevent normal form submission

    const create_post_data = new FormData(create_post_form);
    
    // The POST request to the server
    fetch('/createPost', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(Object.fromEntries(create_post_data)),
    })
    .then((response) => response.json()) // recieve the response, translate from JSON to JS objects
    .then((data) => {
      // This means the POST request itself worked, not that the response was a success
      console.log('Success:', data[0]);
      if('error' in data) {
        window.alert(data['error']); // Display the error sent from the server
      } else {
        window.location.replace('/'); // Redirect to the homepage on success
      }
    })
    .catch((error) => {
      // This means the POST request itself failed, not that the response was an error
      console.error('Error:', error);
    });
  });
</script>
